* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.game {
  max-width: 320px;
  background-color: #eee;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.header h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.timeNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.timeNav > span{
  font-size: 22px;
}
.timeNav span:first-child {
  color: green;
}
.timeNav > span:last-child {
  color: red;
}
.timeNav div span {
  display: inline-block;
  display: flex;
  flex-direction: column;
  color: #A32D00;
}
.timeNav div span:nth-child(1) {
  background-color: #A32D00;
  padding: 2px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}
.timeNav div span:nth-child(2) {
  cursor: pointer;
}
.rate ul {
  padding: 10px 0px;
  min-height: 70px;
}
.rate ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 2, 128);
  padding: 5px;
}
.nums {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  align-content: center;
}
.num {
  background-color: #fff;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 5px 2px #aed1b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.main h2 {
  color: #fff;
  background-color: blueviolet;
  border-radius: 10px;
  padding: 8px;
}
.main h3 {
  margin: 5px 0;
  font-size: 22px;
}
.main p {
  font-size: 16px;
}
.game button {
  padding: 7px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(6, 68, 68);
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
